body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.color-container {
    display: flex;
    justify-content: space-around;
    width: 95%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.color-box {
    height: 100px;
    width: 225px;
    border: 2px solid black;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-title {
    margin-left: 1%;
}

h3 {
    margin-left: 3%;
}

.color-text {font-size: 18px;}
.white {color: white;}
.black {color: black;}
.a {background-color: #131313;}
.b {background-color: #2B2B2B;}
.c {background-color: #86868B;}
.d {background-color: #1561F0;}
.e {background-color: #20123A;}
.f {background-color: #693BCC;}
.g {background-color: #CB1F9C;}
.h {background-color: #F35F1C;}
.i {background-color: #1E6BA2;}
.j {background-color: #BE8B09;}
.k {background-color: #FFFFFF;}
.l {background-color: #68757B;}